<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>tba-scout</title>

   <link rel="preload" as="style" href="../static/css/all.css" onload="this.rel='stylesheet'">
   <link rel="preload" as="style" href="../static/css/nav.css" onload="this.rel='stylesheet'">
   <link rel="preload" as="style" href="../static/css/landing.css" onload="this.rel='stylesheet'">

   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
   <script src="../static/js/nav.js"></script>
   <script src="../static/js/landing.js" defer></script>
</head>

<body>
   <div id="app">
      <navbar></navbar>
      <div class="content-container">
         <div class="search">

            <input type="text" class="searchbar" placeholder="Start typing to search for a specific team or event" v-model="searchText" @click="toggleSearchResults(true)" @blur="toggleSearchResults(false)" @change="search">

            <div class="searchresults" v-if="showSearchResults && searchText!=''">
               <div class="searchresultsHeader">
                  Teams
               </div>
               <div class="horizontalRule"></div>
               <div class="searchresult searchresultTeam">
                  Team 1072 (Harker Robotics)
               </div>
               <div class="searchresult searchresultTeam">
                  Team 1072 (Harker Robotics)
               </div>
               <div class="searchresult searchresultTeam">
                  Team 1072 (Harker Robotics)
               </div>
               <div class="searchresultsHeader">
                  Events (3 results)
               </div>
               <div class="horizontalRule"></div>
               <!-- <div class="searchresult searchresultEvent">
                  MBA Regional (2007)
               </div> -->
               <div class="searchresultsText" v-if="searchresultsText.events.show">
                  {{searchresultsText.events.text}}
               </div>
            </div>
         </div>
         
      </div>
   </div>
   
</body>

</html>